<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Comment</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/restaurants/<%= restaurant_id %>/comments/<%= comment.cId %>?_method=PUT" method="POST">
                <div class="form-group">
                    Comment:
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                </div>
                <div class="form-group">
                    Rating:
                    <!-- <input class="form-control" type="number" name="comment[rating]" min="1" max="5" value="<%= comment.rating %>"> -->
                    <!-- <select class="form-control" name="comment[rating]" id="ratingSelectorEdit" value="<%= comment.rating %>">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select> -->
                    <input  type="radio" name="comment[rating]" value="1" checked> 1
                    <input  type="radio" name="comment[rating]" value="2"> 2
                    <input  type="radio" name="comment[rating]" value="3"> 3
                    <input  type="radio" name="comment[rating]" value="4"> 4
                    <input  type="radio" name="comment[rating]" value="5"> 5
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/restaurants/<%= restaurant_id %>">Go Back</a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>