<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= restaurant.image %>">
                <div class="caption-full">
                    <h4><a><%=restaurant.name%></a></h4>
                    <p><%= restaurant.description %></p>
                    <p>
                        <em>Submitted by <%=  %></em>
                    </p>
                   
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/restaurants/<%= restaurant.id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>